<div class="container">
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/MDA21">
            <img  class="images" src="/assets/images/000000000000329877.jpg"/>
            <p>Refridgirators</p>
        </a>
    </div>
    <div class="inner-container"> 
        <a href="/electronics-spa/en/USD/c/MDA27">
            <img  class="images" src="/assets/images/000000000000355219.jpg"/>
            <p>Freezers</p>
        </a>
    </div>
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/MDA22">
            <img  class="images" src="/assets/images/000000000000444686.jpg"/>
            <p>2 in 1</p>
        </a>
    </div>
</div>
<hr>


