<hr>
<h1>Products information</h1>
<div class="container">
    <div class="box left" >
        <a target="_blank" href="https://si.gorenje.com/kontakt/informacije-o-izdelkih"><img class="image" src="/assets/images/contactInfo1.jpg"/>
        <div class="bottom-text" >
            <p>Send questions and reviews about products</p>
            <img class="gray" src="/assets/images/next3.png"/>
            <img class="primary" src="/assets/images/next4.png"/>
        </div></a>
    </div>
    <div class="box right"> 
        <a target="_blank" href="https://si.gorenje.com/kontakt/narocilo-navodil-za-aparate"><img class="image" src="/assets/images/contactInfo2.jpg"/>
        <div class="bottom-text" >
            <p>Order instructions for appliances</p>
            <img class="gray" src="/assets/images/next3.png"/>
            <img class="primary" src="/assets/images/next4.png"/>
        </div></a>
    </div>
</div>