.images {
    width: 130px;
    display: block;
}

.container {
    display: flex;
    justify-content: center;
}

.inner-container {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}