<hr>
<h1>Support</h1>
<div class="container">
    <div class="section" >
        <p class="header">Call center</p>
        <div class="box" >
            <p>Free phone number for customer service</p>
            <div class="img-container">
                <img src="/assets/images/phone.jpg"/>
                <a href="tel:03-899-7000"><p class="number">03 899 7000</p></a>
            </div>
            <p class="together">Working hours of customer service:</p>
            <p class="together">Monday - Friday 7.00-17:00</p>
            <p>Saturday - 8:00-12:00</p>
            <div class="img-container">
                <img src="/assets/images/letter.jpg"/>
                <p class="email"><a href="mailto:kc.servis.slo@gorenje.com">kc.servis.slo@gorenje.com</a></p>
            </div>
        </div>
    </div>
    <div class="section"> 
        <p class="header">Find a store</p>
        <div class="box" >
            <p>Find the closest store in your area for proffesional and fast help with your appliances.</p>
            <a href="/electronics-spa/store-finder"><div class="button center">
                <div></div>
                <p>Find</p>
                <img class="white" src="/assets/images/next-white.png"/>
                <img class="green" src="/assets/images/next4.png"/>
            </div></a>
        </div>
    </div>
    <div class="section"> 
        <p class="header">Order repair service</p>
        <div class="box" >
            <p>Order repair service for your appliance with our website.</p>
            <p>We only need information about your appliance.</p>
            <a target="_blank" href="https://si.gorenje.com/my-account/service-repair"><div class="button right">
                <div></div>
                <p>Order</p>
                <img class="white" src="/assets/images/next-white.png"/>
                <img class="green" src="/assets/images/next4.png"/>
            </div></a>
        </div>
    </div>
</div>