<div class="container">
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/MDA0202">
            <img  class="images" src="/assets/images/000000000000567608.jpg"/>
            <p>Ovens</p>
        </a>
    </div>
    <div class="inner-container"> 
        <a href="/electronics-spa/en/USD/c/MDA03">
            <img  class="images" src="/assets/images/000000000000464558.jpg"/>
            <p>Hotplates</p>
        </a>
    </div>
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/MDA01">
            <img  class="images" src="/assets/images/000000000000728455.jpg"/>
            <p>Stoves</p>
        </a>
    </div>
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/MDA0207">
            <img  class="images" src="/assets/images/000000000000323717.jpg"/>
            <p>Microwaves</p>
        </a>
    </div>
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/MDA09">
            <img  class="images" src="/assets/images/000000000000315243.jpg"/>
            <p>Hoods</p>
        </a>
    </div>

</div>


