<div class="container">
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/AIR04">
            <img  class="images" src="/assets/images/000000000000565405.jpg"/>
            <p>Ventilation</p>
        </a>
    </div>
    <div class="inner-container"> 
        <a href="/electronics-spa/en/USD/c/AIR01">
            <img  class="images" src="/assets/images/000000000000543052.jpg"/>
            <p>Water heaters</p>
        </a>
    </div>
    <div class="inner-container">
        <a href="/electronics-spa/en/USD/c/SDA">
            <img  class="images" src="/assets/images/000000000000594905.jpg"/>
            <p>Home accesories</p>
        </a>
    </div>
</div>


