<div class="news-footer">
    <div class="container-left">
        <div class="paperplane-icon">
            <img  class="images" src="/assets/images/newsletter.jpg"/>
        </div>
        <div class="left-text">
            <p>Gorenje news</p>
            <p>Always fresh information!</p>
        </div>
        <div class="subscribe">

        </div>
    </div>
    <div class="container-right">
        <div class="right-text">

        </div>
        <div class="socials">

        </div>

    </div>

</div>
