<div class="news-footer">
    <div class="container-left">
        <div class="newsletter">
            <div class="paperplane-icon">
                <img src="/assets/images/newsletter.jpg"/>
            </div>
            <div class="left-text">
                <p class="left-text-upper">Gorenje news</p>
                <p class="left-text-lower">Always fresh information!</p>
            </div>
        </div>
        <a href="#"><div class="subscribe">
            <p>Subscribe now!</p>
            <img src="/assets/images/letter.png"/>
        </div></a>
    </div>
    <div class="container-right">
        <div class="right-text">
            <p>Follow us!</p>
        </div>
        <div class="socials">
            <a target="_blank" href="https://www.facebook.com/gorenje.SLO/"><div><img src="/assets/images/fb.png"/></div></a>
            <a target="_blank" href="https://www.instagram.com/gorenje_slovenija/"><div><img src="/assets/images/ig.png"/></div></a>
            <a target="_blank" href="https://www.youtube.com/user/gorenjesi"><div><img src="/assets/images/yt.png"/></div></a>
        </div>

    </div>

</div>
