/* You can add global styles to this file, and also import other style files */

$styleVersion: 3.4;
@import '~@spartacus/styles/index';

// Footer
footer {
    --cx-color-dark: #5A6870 !important;
    --cx-color-inverse: white !important;
    display: block !important;
}

.cx-notice {
    color: #9DA6AB !important;
    font-size: 11.5px !important;
    padding-bottom: 10px !important;
    background-color: #5A6870 !important;
}

// Mini cart background color
cx-mini-cart cx-icon {
    color: #F0F0F0 !important;
}

cx-mini-cart .count {
    color: #F0F0F0 !important;
}

// Logo size
header cx-media {
    width: 200% !important;
}

// Header
header {
    --cx-color-dark: white !important;
    --cx-color-secondary: #F0F0F0 !important;

}

.carousel-panel {
    margin-bottom: 50px;
}

// cx-hamburger-menu button {
//     background-color: red !important;
// }

// .cx-hamburger {
//     color: red !important;
//     background-color: red !important;
// }


:root {
    // --cx-color-background: red !important;
    //--cx-color-text: red !important;
    --cx-color-inverse: #5A6870 !important;
    //--cx-color-transparent: transparent !important;
    --cx-color-primary: #00B9AD !important;
    //--cx-color-secondary: #F0F0F0 !important;
    //--cx-color-success: red !important;
    // --cx-color-info: red !important;
    // --cx-color-warning: red !important;
    // --cx-color-danger: red !important;
    // --cx-color-light: blue !important;
    // --cx-color-visual-focus: blue !important;
    // --cx-color-background-focus: blue !important;
}

.slides {
    //max-height: 100px !important;
}

cx-page-layout {
    // display: inline !important;
}

// Categories pages landing text
.ContentPage1Template {
 .BottomHeaderSlot {
    cx-paragraph {
        text-align: center;
        font-size: 250%;
        font-weight: 900;
        color: #5A6870;
    }
 }

 a:hover {
     text-decoration: none !important;
 }
}

// News Header
.LandingPage2Template {
    .Section1 {
        cx-paragraph {
            color: #566770;
            text-transform: uppercase;
            p {
                font-size: 110%;
                font-weight: 600;
                margin-bottom: 0;
            }

            h2 {
                font-size: 150%;
                font-weight: 700;
            }

            :hover {
                color: #00B9AD;
            }
        }
    }

    // .BottomHeaderSlot {
    //     height: 1000px;

    //     img {
    //         height: 1000px !important;

    //     }
        
    //     cx-banner-carousel .inline-navigation .carousel-panel .item {
    //         max-height: none !important;
    //         height: 100% !important;
    //     }
    // }
}

// Podpisi Section2A
.Section2A {
    cx-paragraph {
        padding-right: 50px;
        p {
            p {
                color: #9FA7AA;
                font-size: 80%;
            }
        }

        h2 {
            color: #566770;
            text-transform: uppercase;
            font-size: 115%;
            font-weight: 700;
        }
        h2:hover {
            color: #00B9AD;
        }
    }

    cx-banner {
        width: 284.5px;
        height: 217px;
    }
}

// Podpisi Section2B
.Section2B {
    cx-paragraph {
        margin-top: 0;
        padding-right: 50px;
        height: 116px;
        p {
            p {
                color: #9FA7AA;
                font-size: 80%;
            }
        }

        h2 {
            color: #566770;
            text-transform: uppercase;
            font-size: 115%;
            font-weight: 700;
        }
        h2:hover {
            color: #00B9AD;
        }
    }

    cx-banner {
        width: 284.5px;
        height: 217px;
        margin-bottom: 0;
    }
}

